/* Geist Sans */
@font-face {
  font-family: 'geist-sans';
  src: url('assets/fonts/geist-sans.woff2') format('woff2'),
       url('assets/fonts/geist-sans.woff') format('woff');
}

/* Geist Mono */
@font-face {
  font-family: 'geist-mono';
  src: url('assets/fonts/geist-mono.woff2') format('woff2'),
       url('assets/fonts/geist-mono.woff') format('woff');
}
